.tab-header-background {
	-fx-background-color: #d32f2f;
}

.mousechange:hover {
    -fx-cursor: hand;
}

.Waiterloginbtn:hover {
	-fx-background-image: url("unlocked.png");
	-fx-graphic: url("unlocked.png");
}

.tab {
	-fx-font-family: Javanese;
	-fx-font-size: 15;
	-fx-background-color: #d32f2f;
	-fx-background-radius: 5 5 0 0, 5 5 0 0, 4 4 0 0, 3 3 0 0;
	-fx-border-color: black;
}

.tab:selected {
	-fx-font-family: Arial;
	-fx-font-size: 20;
	-fx-font-weight: bold;
	-fx-background-color: #64dd17
}

.scroll-pane {
	-fx-background: #008001;
	-fx-border-color: black;
	-fx-border-width: 1.2;
}

.addItemBtn {
	-fx-background-radius: 15;
}

.checkoutBtn:hover {
	-fx-background-color: #d32f2f;
	-fx-text-fill: white;
	-fx-border-color: white;
	-fx-border-radius: 20;
	-fx-border-width: 1.5;
}

.addItemBtn:hover {
	-fx-background-color: white;
	-fx-border-color: white;
	-fx-border-radius: 12;
	-fx-border-style: solid;
}

.addItemBtn:pressed { 
	-fx-rotate: 15;
}
